:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;
    
    --title-color: rgb(4, 107, 107);
}



html, body {
    height: 100%;
    
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.title-icon {
 margin-right: 10px;
}

.header-top a{
   
    color: var(--title-color);
    font-size: 18px;
}

.main {
    flex: 1 1 auto;
}


/* --------------header--------------- */

.baner {
    position: relative;
}

.baner-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto; 
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 54px;
    color: cadetblue;
    
}

.title {
    color: var(--title-color);
}


/* --------------Nav--------------- */

.navbar-light .navbar-nav .nav-link {
    color: var(--title-color)
}

.active {
    background-color: #6c757d ! important;
}

.nav-pills a:hover {
    color: rgb(14, 168, 135);
}

.dropdown a:hover {
    color: var(--bg-color);
    background-color: #6c757d;
    /* background-color: rgba(red, green, blue, alpha) */
    /* background-color: #c100fc; */
}
.btmd {

    font-size: 18px;
}


/* --------------Main--------------- */


.monitoring {
    border-right: #d1d6da 1px solid;
}

.mnu-trends {
    border: #d1d6da 1px solid;
}

.card-title {
    color: var(--text-color);
    font-size: 24px;
    /* color: red;  */
}

.card-header {
    color: var(--text-color);
    /* color: red;  */
}

.subtitle {
    font-size: 18px;
    color: #d1d6da ;
   
}

.trend {
    /* border: 3px solid black; */
    height: 100%;
}



@media (max-width: 992px)  { 
    .card{
       margin-right: 15px;
       
    }
    .card-header {
        font-size: small;
    }

    .card-title {
         color: var(--text-color);
            font-size: small;
            /* color: red;  */
    }

    .title-head {
        font-size: small;
        margin-top: 2px;
       
    }

    .subtitle {
        font-size: small;
        
    }

    .header-top {
        margin-bottom: 1px ! important;
        font-size: small;
    }

    .nav-pills {
        font-size: small ! important;
        display: block;
    }

    .user {
       display: none; 
    }

    .navbar-toggler-icon {
        display: block; 
        font-size: 25px;
        border: #3d464d 1;
    }

    /* canvas {
            
        height: 500px !important;
    } */
    .modal-content {
        font-size: 10px ! important;
    }

    .trend {
         height: 100%;
    }

    /* .myChartClass {
        width: 100% ! important;
        height: auto ! important;
    } */
}
/* footer--------------- */
.footer-title {
    margin-top: 40px;
    padding: 10px;
    border-top: #d1d6da 1px solid;
    
}