{% extends 'base.html' %}

{% block content %}
                <div class="container">
                    <div
                        class="h4 pb-2 mb-4 text-primary-emphasis border-bottom border-primary-emphasis mt-3  d-flex justify-content-between align-items-center title-head">
                        <div class="title">
                            <i class="bi bi-speedometer mr-2"></i> <span>Мониторинг</span>
                
                        </div>
                        
                        <div class=" d-flex ">
                     
                            <div class="subtitle align-bottom">Процессор: &nbsp;</div>
                            <div class="subtitle align-bottom" id="tempProc">00</div>
                            
                            <div class="subtitle align-bottom">&nbsp;С &deg; &nbsp;</div>
                            
                            <div class="subtitle align-bottom">&nbsp;| &nbsp;</div> 
                            <div class="subtitle align-bottom" id="datastamp">00.00.000</div> 
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class=" col-12 d-flex  flex-lg-column col-lg-2 monitoring">
                            <div class="card text-center mb-3 ">
                                <h5 class="card-header">Температура</h5>
                                <div class="card-body ">
                                    <h2 class="card-title m-1  " id="temperature">-,- </h2>
                                    <!-- <p class="card-text text-black-50 bg-white">With supporting text below as a natural lead-in to additional
                                                    content.</p> -->
                                    <!-- <a href="#" class="btn btn-outline-secondary">Go somewhere</a> -->
                
                                </div>
                            </div>
                            <div class="card text-center mb-3">
                                <h5 class="card-header">Влажность</h5>
                                <div class="card-body ">
                                    <h2 class="card-title m-1" id="humidity">-,- </h2>
                                </div>
                            </div>
                            <div class="card text-center mb-3">
                                <h5 class="card-header">Освещение</h5>
                                <div class="card-body ">
                                    <h2 class="card-title m-1" id="releState">-,- </h2>
                                </div>
                            </div>
                            <div class="card text-center mb-3">
                                <h5 class="card-header">Вентилятор</h5>
                                <div class="card-body ">
                                    <h2 class="card-title m-1" id="coolState">-,- </h2>
                                </div>
                            </div>
                            <div class="card text-center mb-3">
                                <h5 class="card-header">Полив</h5>
                                <div class="card-body ">
                                    <h2 class="card-title m-1" id="rainState">-,- </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-10">
                            <div class="mnu-trends">
                                <div>
                                    <nav class="navbar bg-body-tertiary">
                                        <div class="container-fluid ">
                
                                            <a class="navbar-brand ">Trends</a>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="myCheckbox" checked>
                                                <label class="form-check-label text-secondary" for="myCheckbox">Мониторинг
                                                </label>
                                            </div>
                
                
                                            <div class="d-flex  flex-column flex-lg-row" role="search">
                                                <div class="d-flex mb-2 mb-lg-0">
                                                    <input class="form-control me-2" type="date" id="datest" placeholder="Search"
                                                        aria-label="Search" disabled="true">
                                                    <input class="form-control me-2" type="date" id="datend" placeholder="Search"
                                                        aria-label="Search" disabled="true">
                                                </div>
                                                <div class="d-flex  ">
                                                    <button class="btn btn-outline-secondary me-2" id="btnQuery"
                                                        disabled='true'>Search</button>
                                                    <button class="btn btn-outline-secondary me-2" id="btnExl" type="submit"><i
                                                            class="bi bi-filetype-xls"></i></button>
                                                    <button class="btn btn-outline-secondary me-2 " data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop" type="button"><i
                                                            class="bi bi-table"></i></button>
                                                    <button class="btn btn-outline-secondary me-2" id="reset_zoom" type="submit"><i
                                                            class="bi bi-aspect-ratio"></i></button>
                                                </div>
                                            </div>
                
                                        </div>
                                    </nav>
                                </div>
                                
                            </div>
                            <div  class="trend" style="position: relative; height:100%; width:100%">
                                <canvas class="myChartClass" id="myChart" style="position: relative; height:100%; width:100%" >Trend</canvas>
                            </div>
                         
                
                        </div>
                            
                    </div>
                
                </div>
{% endblock content %}
                
  
